<.header>
  Edit Patient {@patient.id}
  <:subtitle>Use this form to manage patient records in your database.</:subtitle>
</.header>

<.patient_form changeset={@changeset} action={~p"/admin/patients/#{@patient}"} />

<.back navigate={~p"/admin/patients"}>Back to patients</.back>
